{% extends "split/base.html" %}
{% load staticfiles %}


{% block head %}
<title>SplitShare</title>
{% endblock %}


{% block content %}
{% if error_messages is not None %}
{{ error_messages }}
{% endif %}
<form action="/split/create_group/" method="post" onsubmit="return validateData()">
    {% csrf_token %}
    <p>
        <label for="groupname">Group Name</label>
        <input type="text" id="groupname" name="group_name" placeholder="Group Name" pattern="^[a-zA-Z ]+$"
               title="characters only" required="required">
    </p>

    <p>
        <label for="numberofpeople">Select Number of Peoples</label>
        <select id="numberofpeople" name="number_of_people" onchange="displayNumberOfFieldsPerSelection()">
            <option selected="selected">2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </p>
    <p><label>person 1</label> <input type="text" id="person_1" name="person_1" value="{{ request.user.username|title}}" pattern="^[a-zA-Z ]+$"
                                      title="characters only" required="" placeholder="Name">
    </p>
    <div id="list"></div>

    <input type="reset">
    <input type="submit">

</form>


<script>
$(document).ready(function(){
   displayNumberOfFieldsPerSelection();
});

</script>

<script>


      function displayNumberOfFieldsPerSelection(){

          var numberOfPeople = document.getElementById('numberofpeople').value;
          var list_div = document.getElementById('list');
          var person = 'person_';
          var person_label = 'person ';
          list_div.innerHTML='';
          for(var i=2; i<=numberOfPeople; i++){

              var p_div = document.createElement('p');

              var label = document.createElement('label');

                label.innerHTML = person_label+' '+i.toString();
                label.for = person+i.toString();

                var personname = document.createElement('input');
                personname.type = 'text';
                personname.id = person+i.toString();
                personname.name = person+i.toString();
                personname.pattern = "^[a-zA-Z ]+$";
                personname.title = "characters only";
                personname.required="required";

                personname.placeholder = 'Name';
                p_div.appendChild(label);
                p_div.appendChild(personname);



                document.getElementById("list").appendChild(p_div);
          }
      }

      function validateData(){
            var groupName = document.getElementById('groupname').value;
            var numberOfPeople = document.getElementById('numberofpeople').value;
            var names = [];
            var status = true;

            for(var i=1; i<= numberOfPeople; i++){
                var name = "person_"+i.toString();
                names.push(document.getElementById(name).value);
            }
            for(var i=0; i<numberOfPeople; i++){
                for(var j=0; j<numberOfPeople && j != i; j++){
                    if(names[i] == names[j]){
                        alert("Atleast two persons are having same name. Kindly differentiate between two.");
                        status = false;
                        break;
                    }
                }
            }

            if(status){
                for(var i=0; i< numberOfPeople; i++){
                     if(names[i] == groupName){
                        var warning_message = "Group Name is similar to one of the person name.\n Click 'OK' if you like to continue\n Click 'cancel' to change one of the names ";
                        if(!(confirm(warning_message))){
                            status = false;
                        }
                        break;
                     }
                }
            }
            return status;
        }

</script>

{% endblock %}
